/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.app {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr 100px;
}
